<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
		{# User info box #}
		<div class="info-box">
			<span class="info-box-icon bg-yellow"><i class="fa fa-user"></i></span>
			
			<div class="info-box-content">
				<span class="info-box-text">{{ "label.info.users.total"|trans }}</span>
				<span class="info-box-number">{{ userCount }}</span>
			</div>
		</div>
	</div>
	
	{# Announcement info box #}
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-red"><i class="fa fa-home"></i></span>
			
			<div class="info-box-content">
				<span class="info-box-text">{{ "label.info.announcements.total"|trans }}</span>
				<span class="info-box-number">{{ announcementCount }}</span>
			</div>
		</div>
	</div>
	
	{# Group info box #}
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-green"><i class="fa fa-group"></i></span>
			
			<div class="info-box-content">
                <span class="info-box-text">{{ "label.info.groups.total"|trans }}</span>
                <span class="info-box-number">{{ groupCount }}</span>
			</div>
		</div>
	</div>
	
	{# Message info box #}
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-aqua"><i class="fa fa-envelope"></i></span>
			
			<div class="info-box-content">
				<span class="info-box-text">{{ "label.info.messages.total"|trans }}</span>
				<span class="info-box-number">{{ 1000 }}</span>
			</div>
		</div>
	</div>
</div>
