{#
	Parameter:
		- pictures: a list of AnnouncementPicture
 #}
<div class="box">
  	<div class="box-header with-border">
    	<h3 class="box-title">{{ "announcements.pictures.label"|trans }}</h3>
    	<div class="box-tools pull-right">
      		<button type="button" class="btn btn-box-tool" data-widget="collapse">
				<i class="fa fa-minus"></i>
            </button>
    	</div>
  	</div>
  	
  	<div class="box-body">
  	    {% if  pictures is not empty %}
  		<div class="carousel slide" data-ride="carousel" id="announcement-pictures" style="max-height: 380px; overflow: hidden;">
  		    <ol class="carousel-indicators">
  				{% for index in range(0, (pictures|length)-1) %}
  				<li data-target="#announcement-pictures" data-slide-to="{{ index }}" class="carousel-indicators-item"></li>
  				{% endfor %}
  			</ol>
  			
  			<div class="carousel-inner">
  				{% for picture in pictures %}
  				<div class="item picture">
  					<img class="img-responsive center-block" src="{{ picture.getWebPath() }}" alt="{{ picture.name }}" />
  				</div>
  				{% endfor %}
  			</div>
  			
		    {% if pictures|length > 1 %}
  			<a class="left carousel-control" href="#announcement-pictures" data-slide="prev">
  				<i class="glyphicon glyphicon-chevron-left"></i>
  				<span class="sr-only">{{ "label.pagination.previous"|trans }}</span>
  			</a>
  			<a class="right carousel-control" href="#announcement-pictures" data-slide="next">
  				<i class="glyphicon glyphicon-chevron-right"></i>
  				<span class="sr-only">{{ "label.pagination.next"|trans }}</span>
  			</a>
		    {% endif %}	
  		</div>
  		<br />
  		{% else %}
  		<div class="callout callout-info">
      		<p class="text-center lead">
      			{{ "announcements.pictures.empty"|trans }}
      		</p>
  		</div>
  		{% endif %}
  	</div>
</div>