{#
	Parameter:
		- user: an instance of User
 #}
<div class="box box-widget widget-user-2 user-box" data-href="{{ path('admin_user', {"id": user.id}) }}">
	<div class="widget-user-header bg-yellow">
		<div class="widget-user-image">
    		{% set picturePath = (user.picture is not null) ? user.picture.getWebPath : asset("users.picture.default"|trans) %}
    		<img alt="User avatar" src="{{ picturePath }}" class="img-circle"/>
    	</div>
	
		<h3 class="widget-user-username">
		    {{ user.getDisplayName() }} {% if user.isEnabled() %}<i class="fa fa-check"></i>{% endif %}
		</h3>
		<h5 class="widget-user-desc">{{ user.email }}</h5>
	</div>
	
	<div class="box-body">
		<div class="row">
			<div class="col-lg-4 border-right">
				<div class="description-block">
					<h5 class="description-header">{{ "users.created_at.title"|trans }}</h5>
					<span class="description-text created-at">{{ user.createdAt|localizeddate("short", "none") }}</span>
				</div>
			</div>
			<div class="col-lg-4 border-right">
				<div class="description-block">
					<h5 class="description-header">{{ "users.status.title"|trans }}</h5>
					<span class="description-text status">{{ ("users.status." ~ user.status)|trans }}</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="description-block">
					<h5 class="description-header">{{ "users.last_login.title"|trans }}</h5>
					<span class="description-text last-login">
						
					</span>
				</div>
			</div>
		</div> {# END .row #}
	</div> {# END .box-body #}
	
	<div class="box-footer">
		<a role="button" class="btn btn-block btn-warning" href="{{ path("admin_user", {"id": user.id}) }}">
			{{ "announcements.creator.redirect"|trans }}
        </a>
	</div>
</div>