{#
	Search form template
	Parameters:
		- formId: the id of the form
 #}
<form action="{{ path("admin_announcements_template_search") }}" method="post" id="{{ formId }}">
	<div class="row">
		{# Announcement location #}
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="address">{{ "announcements.location"|trans }}</label>
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-map-marker"></i>
					</span>
					<input type="text" id="address" class="form-control address-input" name="address" />
				</div>
			</div>
		</div>
		
		{# Announcement types #}
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="types">{{ "announcements.type.title"|trans }}</label>
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-flag"></i>
					</span>
					<select name="types" class="form-control selectpicker show-menu-arrow" multiple id="types"
						data-selected-text-format="count > 2">
						<option value="rent">{{ "announcements.type.rent"|trans }}</option>
						<option value="sublease">{{ "announcements.type.sublease"|trans }}</option>
						<option value="sharing">{{ "announcements.type.sharing"|trans }}</option>
					</select>
				</div>
			</div>
		</div>
		
		{# Announcement rent price range #}
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
			<div class="form-group">
				<label>{{ "announcements.rent_price.title"|trans }}</label>
				<input id="rent-price-range" name="rentPriceRange" /> {# see JS script for ionSlider initialization #}
			</div>
		</div>
		
		{# Announcement start date range #}
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label>{{ "announcements.start_date.title"|trans }}</label>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="input-group date" data-provide="datepicker">
							<span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>
							<input type="text" name="startDateAfter" class="form-control" placeholder="{{ "announcements.start_date.after"|trans }}" />
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="input-group date" data-provide="datepicker">
							<span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>            								
							<input type="text" name="startDateBefore" class="form-control" placeholder="{{ "announcements.start_date.before"|trans }}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{# Announcement end date range #}
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label>{{ "announcements.end_date.title"|trans }}</label>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="input-group date" data-provide="datepicker">
							<span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>
							<input type="text" name="endDateAfter" class="form-control" placeholder="{{ "announcements.end_date.after"|trans }}" />
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="input-group date" data-provide="datepicker">
							<span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>            								
							<input type="text" name="endDateBefore" class="form-control" placeholder="{{ "announcements.end_date.before"|trans }}" />
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div> <!-- END <div class="row"> -->
</form>