<p>
    {% set url = absolute_url(path('coloc_matching.announcement_url', { 'id': announcement.id })) %}
    <a href="{{ url }}">{{ announcement.title }}</a>
</p>
<p>{{ announcement.description|nl2br }}</p>

{% if announcement.pictures is not empty %}
    {% set picture = announcement.pictures[0] %}
    <img alt="{{ picture.name }}"
         src="{{ path('coloc_matching.rest.base_url') ~ asset(picture.webPath) }}"/>
{% endif %}

<p>{{- 'mail.body.url_problem'|trans({ '%link%': url }) -}}</p>
<hr/>