{% extends "AdminBundle::main_layout.html.twig" %}

{% block title %}
    {{ "title.historic_announcements"|trans }} | {{ parent() }}
{% endblock title %}


{% block pageHeader %}
    <h1>{{- "title.historic_announcements"|trans -}}</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path("admin_dashboard") }}">
                <span>{{ "title.dashboard"|trans }}</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path("admin_announcements_history") }}">
                <span>{{ "title.historic_announcements"|trans }}</span>
            </a>
        </li>
    </ol>
{% endblock pageHeader %}


{% block content %}
    <div id="search-content">
        {% include "@includes/page/common/search_form_box.html.twig"
        with {
        "formId": "search-form",
        "searchFormTemplate": "@includes/page/Announcement/list/search/search_form.html.twig",
        "sortingSelectTemplate": "@includes/page/Announcement/list/search/sorting_select.html.twig"
        } %}
    </div>
    <div id="list-content">
        {% include "@includes/page/Announcement/list/announcement_list_box.html.twig" %}
    </div>
{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("static/js/utils/clickableTable.js") }}"></script>
    <script type="text/javascript" src="{{ asset("static/js/page/HistoricAnnouncement/list.js") }}"></script>
{% endblock javascripts %}