<div class="box box-widget widget-user announcement-box" data-href="{{ path("admin_announcement", {"id": announcement.id}) }}">
	<div class="widget-user-header bg-red" style="background: url('') center center;">
		<h3 class="widget-user-username">{{ announcement.title }}</h3>
		<h5 class="widget-user-desc">{{ ("announcements.type." ~ announcement.type)|trans }}</h5>
	</div>
	
	<div class="widget-user-image">
		{% set picturePath = (announcement.creator.picture is not null) ? announcement.creator.picture.getWebPath : asset("users.picture.default"|trans) %}
		<img alt="Creator avatar" src="{{ picturePath }}" class="img-circle">
	</div>
	
	<div class="box-footer">
		<div class="row">
			<div class="col-lg-12">
				<div class="description-block">
					<span class="description-text location">{{ announcement.getShortLocation() }}</span>
				</div>
			</div>
			<div class="col-lg-4 border-right">
				<div class="description-block">
					<span class="description-text rent-price">{{ "announcements.rent_price.value"|trans({"%value%": announcement.rentPrice}) }}</span>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="description-block">
					<span class="description-text date-range">
						{{ "announcements.date.from"|trans({"%startDate%": announcement.startDate|date("label.date.format"|trans)}) }}
						{% if announcement.endDate is not null %}{{ "announcements.date.to"|trans({"%endDate%": announcement.endDate|date("label.date.format"|trans)}) }}{% endif %}
					</span>
				</div>
			</div>
		</div> {# END .row #}
	</div> {# END .box-footer #}
</div>