{#
	Parameters:
		- announcement: A Announcement instance
 #}
<div class="box box-danger" id="announcement">
	<div class="box-header with-border">
    	<h3 class="box-title">{{ "users.announcement.title"|trans }}</h3>
    	<div class="box-tools pull-right">
      		<button type="button" class="btn btn-box-tool" data-widget="collapse">
				<i class="fa fa-minus"></i>
            </button>
    	</div>
    </div>
            
	<div class="box-body">
		<strong>
			<i class="fa fa-map-marker margin-r-5"></i> {{ "announcements.location"|trans }}
		</strong>
		<p class="text-muted">{{ announcement.getFormattedAddress() }}</p>
		<hr />
		
		<strong>
			<i class="fa fa-flag margin-r-5"></i> {{ "announcements.type.title"|trans }}
		</strong>
		<p class="text-muted">{{ ("announcements.type." ~ announcement.type)|trans }}</p>
		<hr />
		
		<strong>
			<i class="fa fa-eur margin-r-5"></i> {{ "announcements.rent_price.title"|trans }}
		</strong>
		<p class="text-muted">{{ "announcements.rent_price.value"|trans({"%value%": announcement.rentPrice}) }}</p>
		<hr />
		
		<strong>
			<i class="fa fa-calendar margin-r-5"></i> {{ "announcements.start_date.title"|trans }}
		</strong>
		<p class="text-muted">{{ announcement.startDate|localizeddate("medium", "none") }}</p>
		<hr />
		
		<strong>
			<i class="fa fa-calendar margin-r-5"></i> {{ "announcements.end_date.title"|trans }}
		</strong>
		<p class="text-muted">
			{% if announcement.endDate is not null %}
			    {{ announcement.endDate|localizeddate("medium", "none") }}
			{% else %}
				{{ "label.non_available"|trans }}
			{% endif %}
		</p>
	</div>
	
	<div class="box-footer">
		<a role="button" class="btn btn-block btn-danger" href="{{ path("admin_announcement", {"id": announcement.id}) }}">
			{{ "users.announcement.redirect"|trans }}
        </a>
	</div>
</div>