{#
	Parameters:
		- user: A User instance
 #}
<div class="box box-default" id="general-info">
	<div class="box-body">
		{% set picturePath = (user.picture is not null) ? user.picture.getWebPath : asset("users.picture.default"|trans) %}
    	<img alt="User profile picture" src="{{ picturePath }}" class="profile-user-img img-responsive img-circle" id="picture" />
    	
    	<h3 class="profile-username text-center" id="name">{{ user.getDisplayName() }}</h3>
    	
    	<p class="text-muted text-center" id="type">{{ ("users.type." ~ user.type)|trans }}</p>
    	
    	<ul class="list-group list-group-unbordered">
    		<li class="list-group-item" id="email">
    			<b>{{ "users.email"|trans }}</b> <span class="pull-right">{{ user.email }}</span>
    		</li>
    		<li class="list-group-item" id="created-at">
    		    <b>{{ "users.created_at.title"|trans }}</b> <span class="pull-right">{{ user.createdAt|localizeddate("medium", "none") }}</span>
    		</li>
    		<li class="list-group-item" id="status">
    		    <b>{{ "users.status.title"|trans }}</b> <span class="pull-right">{{ ("users.status." ~ user.status)|trans }}</span>
    		</li>
    		<li class="list-group-item" id="last-login">
    		    <b>{{ "users.last_login.title"|trans }}</b> <span class="pull-right">{{ "" }}</span>
    		</li>
    		<li class="list-group-item" id="last-update">
    		    <b>{{ "users.last_update"|trans }}</b> <span class="pull-right">{{ user.lastUpdate|localizeddate() }}</span>
    		</li>
    	</ul>
	</div>
</div>