{#
	Parameters:
		- userPref: an instance of UserPreference
		- announcementPref: an instance of AnnouncementPreference
 #}
<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#user-pref" data-toggle="tab">{{ "users.preferences.user.label"|trans }}</a>
		</li>
        <li>
        	<a href="#announcement-pref" data-toggle="tab">{{ "users.preferences.announcement.label"|trans }}</a>
        </li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="user-pref">
			<div class="form-horizontal">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.user.gender.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if userPref.gender is not empty %}
                                        {{ ("users.preferences.user.gender." ~ userPref.gender)|trans }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.user.with_description.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {{ (userPref.withDescription() ? "label.yes" : "label.no")|trans }}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.user.age.min.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if userPref.ageStart is not empty %}
                                        {{ "users.preferences.user.age.value"|trans({"%age%": userPref.ageStart}) }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.user.age.max.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if userPref.ageEnd is not empty %}
                                        {{ "users.preferences.user.age.value"|trans({"%age%": userPref.ageEnd}) }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.user.social_status.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if userPref.socialStatus is not empty %}
                                        {{ ("users.preferences.user.social_status." ~ userPref.socialStatus)|trans }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.user.has_job.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {{ (userPref.hasJob() ? "label.yes" : "label.no")|trans }}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.user.marital_status.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if userPref.maritalStatus is not empty %}
                                        {{ ("users.preferences.user.marital_status." ~ userPref.maritalStatus)|trans }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.user.diet.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if userPref.diet is not empty %}
                                        {{ ("users.preferences.user.diet." ~ userPref.diet)|trans }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.user.smoker.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {{ (userPref.isSmoker() ? "label.yes" : "label.no")|trans }}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="tab-pane" id="announcement-pref">
			<div class="form-horizontal">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
      	    				<label class="col-md-2 control-label">{{ "users.preferences.announcement.address.label"|trans }}</label>
      	    				<div class="col-md-10">
      	    					<p class="form-control-static">
                                    {% if announcementPref.address is not empty %}
                                        {{ announcementPred.address.getFormattedAddress() }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.announcement.rent_price.min.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if announcementPref.rentPriceStart is not empty %}
                                        {{ "user.preferences.announcement.rent_price.value"|trans({"%value%": announcementPref.rentPriceStart}) }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.announcement.rent_price.max.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if announcementPref.rentPriceEnd is not empty %}
                                        {{ "user.preferences.announcement.rent_price.value"|trans({"%value%": announcementPref.rentPriceEnd}) }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.announcement.types.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if announcementPref.types is not empty %}
                                        {% for type in announcementPref.types %}
                                        <span>{{ ("announcements.type." ~ type)|trans }}</span>
                                        {% endfor %}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.announcement.with_pictures.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {{ (announcementPref.withPictures() ? "label.yes" : "label.no")|trans }}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.announcement.start_date.after.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if announcementPref.startDateAfter is not empty %}
                                        {{ announcementPref.startDateAfter|localizeddate("medium", "none") }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.announcement.start_date.before.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if announcementPref.startDateBefore is not empty %}
                                        {{ announcementPref.startDateBefore|localizeddate("medium", "none") }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.announcement.end_date.after.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if announcementPref.endDateAfter is not empty %}
                                        {{ announcementPref.endDateAfter|localizeddate("medium", "none") }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
      	    				<label class="col-md-4 control-label">{{ "users.preferences.announcement.end_date.before.label"|trans }}</label>
      	    				<div class="col-md-8">
      	    					<p class="form-control-static">
                                    {% if announcementPref.endDateBefore is not empty %}
                                        {{ announcementPref.ebdDateBefore|localizeddate("medium", "none") }}
                                    {% else %}
                                    	{{ "label.non_available"|trans }}
                                    {% endif %}
                                </p>
      	    				</div>
  	    				</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>