{#
	Parameter:
		- profile: an instance of Profile
 #}
<div class="box">
  	<div class="box-header with-border">
    	<h3 class="box-title">{{ "users.profile.label"|trans }}</h3>
    	<div class="box-tools pull-right">
      		<button type="button" class="btn btn-box-tool" data-widget="collapse">
				<i class="fa fa-minus"></i>
            </button>
    	</div>
  	</div>
  	
  	<div class="box-body">
  		<div class="form-horizontal">
  			<div class="row">
  				<div class="col-md-4 col-sm-12">
  					<div class="form-group">
  	    				<label class="col-md-6 control-label">{{ "users.profile.gender.label"|trans }}</label>
  	    				<div class="col-md-6">
  	    					<p class="form-control-static">{{ ("users.profile.gender." ~ profile.gender)|trans }}</p>
  	    				</div>
  	    			</div>
  				</div>
  				<div class="col-md-4 col-sm-12">
  					<div class="form-group">
  	    				<label class="col-md-6 control-label">{{ "users.profile.birth_date.label"|trans }}</label>
  	    				<div class="col-md-6">
  	    					<p class="form-control-static">
  	    						{% if profile.birthDate is not null %}
  	    						    {{ profile.birthDate|localizeddate("medium", "none") }}
  	    						{% else %}
  	    							{{ "label.non_available"|trans }}
  	    						{% endif %}
  	    					</p>
  	    				</div>
  	    			</div>
  				</div>
  				<div class="col-md-4 col-sm-12">
  					<div class="form-group">
  	    				<label class="col-md-6 control-label">{{ "users.profile.phonenumber.label"|trans }}</label>
  	    				<div class="col-md-6">
  	    					<p class="form-control-static">
  	    						{% if profile.phonenumber is not null %}
  	    						    {{ profile.phonenumber }}
  	    						{% else %}
  	    							{{ "label.non_available"|trans }}
  	    						{% endif %}
  	    					</p>
  	    				</div>
  	    			</div>
  				</div>
  			</div> {# END <div class="row"> #}
  			
  			<div class="row">
  				<div class="col-md-12">
  					<div class="form-group">
  	    				<label class="col-md-2 control-label">{{ "users.profile.description.label"|trans }}</label>
  	    				<div class="col-md-10">
  	    					<p class="form-control-static">
  	    						{% if profile.description is not null %}
  	    						    {{ profile.description }}
  	    						{% else %}
  	    							{{ "label.non_available"|trans }}
  	    						{% endif %}
  	    					</p>
  	    				</div>
  	    			</div>
  				</div>
  			</div> {# END <div class="row"> #}
  			
  			<div class="row">
  				<div class="col-md-6 col-sm-12">
  					<div class="form-group">
  	    				<label class="col-md-4 control-label">{{ "users.profile.social_status.label"|trans }}</label>
  	    				<div class="col-md-8">
  	    					<p class="form-control-static">{{ ("users.profile.social_status." ~ profile.socialStatus)|trans }}</p>
  	    				</div>
  	    			</div>
  	    			
  	    			<div class="form-group">
  	    				<label class="col-md-4 control-label">{{ "users.profile.marital_status.label"|trans }}</label>
  	    				<div class="col-md-8">
  	    					<p class="form-control-static">{{ ("users.profile.marital_status." ~ profile.maritalStatus)|trans }}</p>
  	    				</div>
  	    			</div>
  	    			
  	    			<div class="form-group">
  	    				<label class="col-md-4 control-label">{{ "users.profile.diet.label"|trans }}</label>
  	    				<div class="col-md-8">
  	    					<p class="form-control-static">{{ ("users.profile.diet." ~ profile.diet)|trans }}</p>
  	    				</div>
  	    			</div>
  				</div>
  				
  				<div class="col-md-6 col-sm-12">
  					<div class="form-group">
  	    				<label class="col-md-8 control-label">{{ "users.profile.smoker.label"|trans }}</label>
  	    				<div class="col-md-4">
  	    					<p class="form-control-static">{{ (profile.isSmoker() ? "label.yes" : "label.no")|trans }}</p>
  	    				</div>
  	    			</div>
  	    			
  	    			<div class="form-group">
  	    				<label class="col-md-8 control-label">{{ "users.profile.house_proud.label"|trans }}</label>
  	    				<div class="col-md-4">
  	    					<p class="form-control-static">{{ (profile.isHouseProud() ? "label.yes" : "label.no")|trans }}</p>
  	    				</div>
  	    			</div>
  	    			
  	    			<div class="form-group">
  	    				<label class="col-md-8 control-label">{{ "users.profile.cook.label"|trans }}</label>
  	    				<div class="col-md-4">
  	    					<p class="form-control-static">{{ (profile.isCook() ? "label.yes" : "label.no")|trans }}</p>
  	    				</div>
  	    			</div>
  	    			
  	    			<div class="form-group">
  	    				<label class="col-md-8 control-label">{{ "users.profile.has_job.label"|trans }}</label>
  	    				<div class="col-md-4">
  	    					<p class="form-control-static">{{ (profile.hasJob() ? "label.yes" : "label.no")|trans }}</p>
  	    				</div>
  	    			</div>
  				</div>
  			</div>
  			
  		</div>
  	</div>
</div>