{% extends "AdminBundle::main_layout.html.twig" %}

{% block title %}
    {{ "title.users"|trans }} | {{ parent() }}
{% endblock title %}


{% block pageHeader %}
<h1>{{ user.getDisplayName() }}</h1>
    
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{{ path("admin_dashboard") }}">
			{{ "title.dashboard"|trans }}
		</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{ path("admin_users") }}">
			{{ "title.users"|trans }}
		</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{ path("admin_user", {"id": user.id}) }}">
			{{ user.getDisplayName() }}
		</a>
	</li>
</ol>
{% endblock pageHeader %}


{% block content %}
<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-12">
		{% include "@includes/page/User/display/general_info.html.twig" with {"user": user} %}
		
		{% if user.announcement is not null %}
		    {% include "@includes/page/User/display/announcement_box_widget.html.twig" with {"announcement": user.announcement} %}
		{% endif %}
	</div>
	<div class="col-lg-8 col-md-6 col-sm-12">
		{% include "@includes/page/User/display/profile_info.html.twig" with {"profile": user.profile} %}
		
		{% include "@includes/page/User/display/preferences_info.html.twig" with {"userPref": user.userPreference, "announcementPref": user.announcementPreference} %}
	</div>
</div>
{% endblock content %}


{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}