{#
	Parameters:
        - route: the name of a controller action route
        - parameters: The route parameters
		- response: an instance of RestListResponse
		- target: a CSS selector for the AJAX call
 #}

<nav aria-label="Pager">
    <ul class="pager">
        <li class="pager-item{{ not response.hasPrev ? " disabled" : "" }}" id="prev" value="{{ response.page-1 }}">
            {% if parameters is not defined %}
                <a href="{{ (response.hasPrev) ? path(route, {"page": response.page-1, "size": response.size, "order": response.order, "sort": response.sort}) : "#" }}"
                   data-target="{{ target }}">
                    <i class="fa fa-chevron-left"></i>
                    <span class="sr-only">{{ "label.pagination.previous"|trans }}</span>
                </a>
            {% else %}
                <a href="{{ (response.hasPrev) ? path(route, {"page": response.page-1, "size": response.size, "order": response.order, "sort": response.sort}|merge(parameters)) : "#" }}"
                   data-target="{{ target }}">
                    <i class="fa fa-chevron-left"></i>
                    <span class="sr-only">{{ "label.pagination.previous"|trans }}</span>
                </a>
            {% endif %}
        </li>
        {% if not response.isFirst() %}
            <li class="pager-item" id="first" value="1">
                {% if parameters is not defined %}
                    <a href="{{ path(route, {"page": 1, "size": response.size, "order": response.order, "sort": response.sort}) }}"
                       data-target="{{ target }}">
                        1
                    </a>
                {% else %}
                    <a href="{{ path(route, {"page": 1, "size": response.size, "order": response.order, "sort": response.sort}|merge(parameters)) }}"
                       data-target="{{ target }}">
                        1
                    </a>
                {% endif %}
            </li>
        {% endif %}
        {% if response.hasPrev() %}
            <li>&nbsp;...&nbsp;</li>
        {% endif %}
        <li>
            <span>{{ response.page }}</span>
        </li>
        {% if response.hasNext() %}
            <li>&nbsp;...&nbsp;</li>
        {% endif %}
        {% if not response.isLast() %}
            <li class="pager-item" id="last" value="{{ response.totalPages }}">
                {% if parameters is not defined %}
                    <a href="{{ path(route, {"page": response.totalPages, "size": response.size, "order": response.order, "sort": response.sort}) }}"
                       data-target="{{ target }}">
                        {{ response.totalPages }}
                    </a>
                {% else %}
                    <a href="{{ path(route, {"page": response.totalPages, "size": response.size, "order": response.order, "sort": response.sort}|merge(parameters)) }}"
                       data-target="{{ target }}">
                        {{ response.totalPages }}
                    </a>
                {% endif %}
            </li>
        {% endif %}
        <li class="pager-item{{ not response.hasNext ? " disabled" : "" }}" id="next" value="{{ response.page+1 }}">
            {% if parameters is not defined %}
                <a href="{{ (response.hasNext) ? path(route, {"page": response.page+1, "size": response.size, "order": response.order, "sort": response.sort}) : "#" }}"
                   data-target="{{ target }}">
                    <i class="fa fa-chevron-right"></i>
                    <span class="sr-only">{{ "label.pagination.next"|trans }}</span>
                </a>
            {% else %}
                <a href="{{ (response.hasNext) ? path(route, {"page": response.page+1, "size": response.size, "order": response.order, "sort": response.sort}|merge(parameters)) : "#" }}"
                   data-target="{{ target }}">
                    <i class="fa fa-chevron-right"></i>
                    <span class="sr-only">{{ "label.pagination.next"|trans }}</span>
                </a>
            {% endif %}
        </li>
    </ul>
</nav>