<!-- Sidebar menu -->
<section class="sidebar">
	<ul class="sidebar-menu">
		<li class="header">
		    {{- "title.menu.main"|trans|upper -}}
		</li>
		
		<li class="treeview" id="announcements">
			<a href="#">
				<i class="glyphicon glyphicon-cog"></i> <span>{{- "label.menu.announcement.base"|trans -}}</span>
				<span class="pull-right-container">
            		<i class="fa fa-angle-left pull-right"></i>
            	</span>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">{{ "1st link"|trans }}</a>
				</li>
			</ul>
		</li>
		
		<li class="treeview" id="users">
			<a href="#">
				<i class="glyphicon glyphicon-cog"></i> <span>{{- "label.menu.user.base"|trans -}}</span>
				<span class="pull-right-container">
                	<i class="fa fa-angle-left pull-right"></i>
                </span>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">{{ "1st link"|trans }}</a>
				</li>
			</ul>
		</li>
		
		<li class="treeview" id="users">
			<a href="#">
				<i class="glyphicon glyphicon-cog"></i> <span>{{- "label.menu.message.base"|trans -}}</span>
				<span class="pull-right-container">
                	<i class="fa fa-angle-left pull-right"></i>
                </span>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="#">{{ "1st link"|trans }}</a>
				</li>
			</ul>
		</li>
	</ul>
</section>