{% extends "AdminBundle::main_layout.html.twig" %}

{% block pageHeader %}
<h1>{{- "title.dashboard"|trans -}} <small>Version 1.0</small></h1>
    
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{{ path("admin_dashboard") }}">
			<span>{{ "title.dashboard"|trans }}</span>
		</a>
	</li>
</ol>
{% endblock pageHeader %}


{% block content %}
	{% include "@includes/page/Home/info_boxes.html.twig" %}
	{% include "@includes/page/Home/user/user_info.html.twig" with { 'users': latestUsers } %}
	{% include "@includes/page/Home/announcement/announcement_info.html.twig" with { 'announcements': latestAnnouncements } %}
{% endblock content %}


{% block javascripts %}
	{{ parent() }}
	
<script type="text/javascript" src="{{ asset("/static/js/page/Home/dashboard.js") }}"></script>
{% endblock javascripts %}